/* Adds style to the index.html page*/
table{
  border-collapse: collapse;
  border-color: rgb(6, 35, 6);
  text-align: center;
}
h1,h2{
  color: rgb(83, 121, 83);

}
h1{
  text-align: center;
  font-style: italic;
}
