/* this is the style sheet for pie.html */
h1,
h2,
h3,
h4,
h5 {
  background-color: #F0F0F0;
  color: #a4a400;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18pt;
  text-decoration: underline;
  display: inline-block;
  padding: 5px 10px;
  display: block;;
}


#header {
  text-align: center;
  font-size: 22pt;

}

body {
  background-color: white;
  background-image: url(silverware.jpg);
  background-attachment: fixed;
  background-repeat: repeat;
}

p {
  color: #404040;
  font-size: 11pt;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#copyright {
  font-display: monospace;
}

.link {
  display:block;
  color: #a4a400;
}

.comments {
  font-style: italic;
  margin-left: 40px;
  background-color: #ffffa8;
}